<div class="w-3/4 margin-zero-auto py-12 lg:py-4">

  <img src="./assets/homepage_image.png" class="object-contain" alt="" />

  <h1 class="text-4xl pt-8 text-greenFluffyBag"> Capsule primavera estate 2021/2022 presentata presso l'idea di Luisa Amatori</h1>

  <div class="flex justify-between flex-wrap pb-8">
    <div *ngFor="let data of amatoriCapsuleStructure" class=" w-1/3 lg:w-full py-8 cursor-pointer text-center">
      <div (click)="onProductTapped(data.pathName)" class="hover:opacity-75">
        <img src={{data.imageName}} class="object-contain h-64 w-64 margin-zero-auto pb-4" alt={{data.imageAlt}} />

        <p class="font-semibold text-xl pb-4">
          {{data.productName}}
        </p>

        <ng-container *ngIf="data.isSoldOut === true">
          <div class="pb-4">
            <p class="bg-greenFluffyBag rounded-lg w-1/3 margin-zero-auto text-white"> Sold out </p>
          </div>
        </ng-container>
      </div>


      <button (click)="onContactButtonClick(data.productName)"
        class="w-10/12 bg-transparent hover:bg-greenFluffyBag text-greenFluffyBag font-semibold hover:text-white py-2 px-4 border border-greenFluffyBag hover:border-transparent rounded">
        Contattaci per la {{data.productName}}
      </button>
    </div>
  </div>

  <hr/>

  <h1 class="text-4xl pt-8 text-greenFluffyBag"> Altro </h1>

  <div class="flex justify-between flex-wrap pt-8">
    <div *ngFor="let data of productStructure" class=" w-1/3 lg:w-full py-8 cursor-pointer text-center">
      <div (click)="onProductTapped(data.pathName)" class="hover:opacity-75">
        <img src={{data.imageName}} class="object-contain h-64 w-64 margin-zero-auto pb-4" alt={{data.imageAlt}} />

        <p class="font-semibold text-xl pb-4">
          {{data.productName}}
        </p>

        <ng-container *ngIf="data.isSoldOut === true">
          <div class="pb-4">
            <p class="bg-greenFluffyBag rounded-lg w-1/3 margin-zero-auto text-white"> Sold out </p>
          </div>
        </ng-container>
      </div>


      <button (click)="onContactButtonClick(data.productName)"
        class="w-10/12 bg-transparent hover:bg-greenFluffyBag text-greenFluffyBag font-semibold hover:text-white py-2 px-4 border border-greenFluffyBag hover:border-transparent rounded">
        Contattaci per la {{data.productName}}
      </button>
    </div>
  </div>
</div>