<div class="w-3/4 margin-zero-auto py-12 lg:py-8">
    <p class="pb-8 font-bold leading-loose">
        Fluffy bag è un nuovo progetto condiviso da Rigon Roberta (fashion designer) e Nur Yilmaz (architetto).
        L’amore per i tessuti preziosi e provenienti da tutto il mondo, utilizzati anche nell’arredamento, come Ikat in 100% seta e Jacquard matelassé, ci ha da subito appassionato.  La voglia di creare una nuova shopper leggera, soffice e capiente, adatta sia per il lavoro che per lo shopping quotidiano, ha dato inizio a questa nuova avventura.
        Fluffy bag è un prodotto artigianale totalmente realizzato in Italia.
        Ogni borsa è numerata e la parte in tessuto fantasia del davanti contrasta con il retro, i manici e la tracolla, realizzati in tessuto trapuntato.
        Si tratta di pezzi unici, una diversa dall’altra: sono chic, femminili, versatili ed essenziali. 
        Come dettaglio glamour ogni borsa hai dei nastri di velluto annodati sul manico che creano un contrasto cromatico. All’interno sono completamente foderate e dotate di una chiusura metallica.
        Le ricerche per le arti visive incontrano e si concretizzano nelle arti materiche. 
        Le disegnature delle Fluffy ricercano un’armonia senza tempo.
        Ogni linea nella sua semplicità svolge una sua funzione, ogni cosa va al suo posto.
        Tutto è perfetto nella sua imperfezione, tutto è preciso nella sua imprecisione.   
    </p>
    
    <p class="pb-8 font-normal leading-loose">
        Fluffy bag is a new collaborative project by fashion designer Roberta Rigon and architect Nur Yilmaz.
A shared love of luxurious fabrics from around the world – which are often also used for upholstery – such as 100% silk Ikat and Jacquard matelassé, inspired us to create a new lightweight shopper that is soft and roomy, perfect for both work and daily shopping.
Fluffy bag is made entirely in Italy by hand.
Each bag is numbered and the patterned fabric on the front contrasts with the back, the handles and the shoulder strap, which are quilted.
Each bag is a unique piece and while no two are alike, they are all chic, feminine, versatile and understated.
For a touch of glamour, every bag features velvet ribbons in a contrasting colour knotted on the handle. The bags are fully lined inside and equipped with a metal clasp.
Their timeless, harmonious design is the result of research in the visual arts, combined with and brought to life by the material arts.
In its simplicity, each line fulfils its function and everything falls into place.
Each bag is perfect in its tiny imperfections, precise in its inaccuracies.    
    </p>
</div>