<div class="w-3/4 margin-zero-auto py-12 lg:py-8">
    <p class="text-6xl">
        🇮🇹
    </p>
    <p class="pb-8 font-bold leading-loose text-base">
Fluffy bag è una shopper artigianale, leggera, soffice e capiente. L’amore per i tessuti che ricerco nei miei viaggi, ha dato inizio a questa nuova avventura.
Le disegnature Ikat in seta provengono dalla Turchia, i tessuti jacquard sono Italiani e Inglesi. Questi particolari materiali mi consentono di creare accostamenti cromatici che variano di stagione in stagione.
Fluffy bag è totalmente realizzata in Italia, ogni borsa è numerata e la parte in tessuto fantasia frontale contrasta
con il retro; fodera interna, manici e tracolla giocano con accostamenti di fantasie e colori, esaltando il morbido effetto dell’imbottitura.
Si tratta di pezzi unici, infatti una è diversa dall’altra. Sono
chic, femminili, versatili ed essenziali. Come dettaglio glamour ogni borsa hai dei nastri di velluto annodati sul manico che creano un contrasto cromatico. Le disegnature delle Fluffy bag ricercano un’armonia senza tempo; tutto è perfetto nella sua imperfezione, tutto è preciso nella sua imprecisione.
    </p>
    <p class="text-6xl">
        🇺🇸
    </p>
    <p class="pb-8 font-normal leading-loose text-base">
The Fluffy bag is a handcrafted shopper that is light, fluffy, and spacious. My love for fabrics, which I seek out on my travels, has given rise to this new adventure. The silk Ikat patterns come from Turkey, while the jacquard fabrics are Italian and English. These particular materials allow me to create chromatic combinations that change with the seasons. The Fluffy bag is entirely made in Italy, each bag is numbered, and the patterned fabric on the front contrasts with the back; the inner lining, handles, and shoulder strap play with combinations of patterns and colors, enhancing the soft effect of the padding. These are unique pieces, indeed, each one is different from the other. They are chic, feminine, versatile, and essential. As a glamorous detail, each bag has velvet ribbons tied to the handle that create a chromatic contrast. The designs of the Fluffy bags seek a timeless harmony; everything is perfect in its imperfection, everything is precise in its imprecision. 
    </p>
</div>